<div class="tile">
    <div id="{{item.id}}_tile-header" class="tile-header">
        <input class="complete" *ngIf="item.isTask" type="checkbox">
        <div *ngIf="item.isAppointment" style="width: 14pt;"></div>
        <div class="name">{{item.name}}</div>
        <div class="date">{{item.date | date:'shortTime'}}</div>
        <button class="priority" (click)="onPriorityClick(item.id)">{{item.priority | priority}}</button>
        <button id="{{item.id}}_button" class="drop" (click)="toggleExpand(item.id)"></button>
    </div>
    <div id="{{item.id}}_content" class="tile-body">
        <app-appointment-details *ngIf="item.isAppointment" [appointment]="getItemAsAppointment()">
        </app-appointment-details>
        <app-task-details *ngIf="item.isTask" [task]="getItemAsTask()"></app-task-details>
        <hr style="color: whitesmoke; opacity: 100%; margin: 10pt;">
        <div style="margin: 10pt;">
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
        </div>
    </div>
</div>